.parent {
  display: flex;
  align-items: center;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin: 30px;
  padding: 16px;
  flex-wrap: wrap;
  height: 100%;
  width: 100%
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:visited {
  color: inherit;
}
