.App {
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  background-color: #1f2839;
  background-image: linear-gradient(to bottom right, #ff8c00, #007bff);
  background-size: cover;
  min-height: 100vh;
}

@media (max-width: 767px) {
  /* Styles for small devices */
}
 
@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for medium-sized devices */
}

@media (min-width: 1024px) {
  /* Styles for large devices */
}
