.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdba31;
  height: 150px;
  width: 100%;
}

.logo {
  color: black; 
  font-size: 48px;
  font-weight: 800; 
  text-transform: uppercase;
  text-shadow: 2px 2px 0 white;
  font-family: 'Press Start 2P', cursive;
}

.logo:hover {
  text-decoration: underline;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: inherit;
}